<div id="qualifications">
  <h2 class="text-center">Qualifications</h2>
  <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    I am a Computer Science and Library and Information Sciences graduate based in Brooklyn, New York and have
    significant experience with front-end web development and user experience design. In addition to my Master Degree, I
    hold ten certificates in web development. I am currently seeking a challenging, full-time front-end web developer
    position in New York City, ideally working with the latest version of the
    <a href="https://www.angular.io" target="_blank">Angular</a> framework.
  </p>
  <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    I have been working with Angular for 3 years. I used AngularJS (version 1.x) for 9 months before switching to
    Angular 2. In September 2017, I attended the <a href="https://www.angularsummit.com" target="_blank">Angular
    Summit</a> in Boston which included a full-day training in Angular 4 and a two-day symposium. In November
    2017, I attended the Open Camps in Manhattan which featured an intensive Angular 5 training session and then
    discussed all the major features of Angular, its place in the JavaScript ecosystem, libraries that can be used
    with Angular and much more. Since then, I have been learning Angular by developing this website, from
    Angular and JavaScript books, from following Google Developer Experts&apos; websites, and from Googling and
    researching on StackOverflow. I have also taken online courses in JavaScript, the MEAN stack and Angular on
    Udemy, Pluralsight and Coursera. I am currently using Angular 7 and stay up-to-date by following the
    <a href="https://blog.angular.io" target="_blank">Angular Blog</a>, the <a href="https://nycjsorg.now.sh/"
    target="_blank">NYC JavaScript Slack</a>, and the ng-newsletter. I&apos;m an active member of the
    <a href="https://www.angularnyc.com" target="_blank">AngularNYC meetup</a> and I attend the
    <a href="http://www.buzzjs.com" target="_blank">BuzzJS conference</a> and the
    <a href="http://www.codecampnyc.org" target="_blank">Code Camp NYC</a> at Microsoft annually.</p>
  <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    I am also very interested in software engineering and database design, especially in the areas of software
    architecture and documentation. I have taken graduate courses in Java programming with an emphasis on
    object-oriented software engineering as part of my undergraduate degree. I also have completed coursework at
    NYU SPS in C# 6.0 with ASP.NET MVC and WebForms and am also familiar with .NET Core. I&apos;ve worked with
    various databases such as Microsoft SQL Server/Entity Framework, MySQL and MongoDB/Mongoose. I occasionally
    attend the <a href="https://www.meetup.com/NYC-NET-Developers" target="_blank">NYC .NET Developers Group</a>
    and the <a href="https://www.meetup.com/nyaltnet" target="_blank">NY ALT.NET Software Development Group</a>.
  </p>
  <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    Previously I was an archivist and librarian at the American Jewish Historical Society (AJHS) where I worked
    for almost 10 years processing archival collections, creating electronic archival finding aids, encoding both
    legacy and newly created finding aids using Encoded Archival Description (an XML schema), and ingesting them
    into DigiTool (CJH&apos;s Digital Asset Management System). I was the webmaster of the
    <a href="https://www.ajhs.org" target="_blank">AJHS website</a> which I maintained for 7 years using HTML,
    CSS, JavaScript, jQuery and Drupal. My experience with creating web pages enabled me to become very passionate
    about web development and my unrelenting pursuit of learning about the Internet, markup languages and metadata
    empowered me to become excited to work in this profession. During my last semester of graduate studies at the
    Pratt Institute in Manhattan, I decided to take on more advanced coursework in web development at NYU.</p>
  <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    This portfolio website is composed of my education, qualifications, technical skills, my r&eacute;sum&eacute;,
    projects I&apos;ve worked on, services I provide, my testimonials and how to contact me. Please also visit my
    recently created <a href="http://www.marvinrusinek.com/blog" target="_blank">blog site</a> where I&apos;ve
    started writing exciting and original posts pertaining to Angular and JavaScript.</p>
</div>
