<footer id="footer" class="footer text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="animated fadeInLeft">
    <span class="development">Developed with <a href="https://www.angular.io" target="_blank">
      <img src="../../assets/images/AngularJS-Shield.svg" height="24" width="24" title="Angular 8"></a>, a ton of
      <img src="../../assets/images/heart.png" height="24" width="24"> and hosted on
      <a href="https://github.com/marvinrusinek/portfolio" target="_blank">
        <img src="../../assets/images/contact/github_octocat.png" height="32" width="32" title="GitHub">
      </a>
    </span>
    <br clear="all" />
    <span class="copyright">Copyright &copy; <time datetime="2017/2019">2017-2019</time>&nbsp;by
      <span itemprop="author">Marvin Rusinek</span>. All rights reserved.
    </span>
    <br clear="all" />
    <div class="flaticonstmt">
      <span>Icons made by
        <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect" target="_blank">
          Pixel perfect</a> from
        <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a>
        is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
        CC 3.0 BY</a>
      </span>
    </div>
  </div>
</footer>
