<footer id="footer" class="footer container-fluid text-center xsmall-12 small-12 medium-10 large-10 xlarge-10">
  <div class="animated fadeInLeft">
    <span class="development">Developed with <img src="../../assets/images/heart.png" height="24" width="24"> using <a href="https://www.angular.io" target="_blank"><img src="../../assets/images/AngularJS-Shield.svg" height="24" width="24"></a> and hosted on <a href="https://www.github.com/marvinrusinek" target="_blank"><img src="../../assets/images/SM/github_octocat.png" height="32" width="32"></a></span><br clear="all" />
    <span class="copyright">Copyright &copy; <time>2018</time> <span itemprop="author">Marvin Rusinek</span>. All rights reserved.</span><br clear="all" />
    <div class="flaticonstmt">
      <span>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect" target="_blank">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></span>
    </div>
  </div>
</footer>
