<div id="overview">
  <div class="container">
    <div class="row">
      <article class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" lazy-load-images>
        <a href="../../assets/images/marvin-panel.jpg" target="_blank">
          <img data-src="../../assets/images/marvin-panel.jpg"
               class="img-fluid about-img col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
               title="Marvin Rusinek" alt="Marvin Rusinek -- Center for Jewish History" />
        </a>
        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          Hi! My name is <span class="name">Marvin Rusinek</span>. I am a Computer Science and Library and Information
          Sciences graduate based in Brooklyn, NY and have significant experience with front-end web development and
          user experience design. In addition to my Masters Degree, I hold ten certificates in web development. I am
          currently seeking a full-time front-end web developer position in New York City ideally working with the
          latest version of the <a href="https://angular.io/" target="_blank">Angular</a> framework.</p>
        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          I have been working with Angular for almost three years. I used the AngularJS (version 1.x) of the framework
          for nine months before switching over to Angular 2. In September 2017, I attended the
          <a href="https://www.angularsummit.com" target="_blank">Angular Summit</a> in Boston which included a
          full-day training with Angular 4 and a two-day symposium. In November 2017, I attended the Open Camps in
          Manhattan which featured an intensive Angular 5 training session and then discussed all the major features of
          Angular, its place in the JavaScript ecosystem, libraries that can be used with Angular and much more. Since
          then I have been learning Angular by developing this website, by taking online courses in JavaScript, the MEAN
          stack and Angular on Udemy, Pluralsight and Coursera, reading JavaScript and Angular books, following Google
          Developer Experts&apos; various websites, Googling and researching on StackOverflow. I stay updated on key
          topics in Angular by following the <a href="https://blog.angular.io" target="_blank">Angular Blog</a>, the
          <a href="https://nycjsorg.now.sh/" target="_blank">NYC JavaScript Slack</a>, and the ng-newsletter. I&apos;m
          currently using Angular 7 and enjoy utilizing the latest features. I am an active member of the
          <a href="https://www.angularnyc.com" target="_blank">AngularNYC meetup</a> and I attend the
          <a href="http://www.buzzjs.com" target="_blank">BuzzJS conference</a> and the
          <a href="http://www.codecampnyc.org" target="_blank">Code Camp NYC</a> at Microsoft annually.
        </p>
        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          I am also very interested in software engineering and database design. I have taken graduate courses in Java
          programming with an emphasis on object-oriented software engineering practices as part of my undergraduate
          degree in CS. I also have completed coursework at NYU SPS in C# 6.0 with ASP.NET MVC and WebForms. I&apos;ve
          worked with various databases such as Microsoft SQL Server/Entity Framework, MySQL and MongoDB/Mongoose. I
          also occasionally attend the
          <a href="https://www.meetup.com/NYC-NET-Developers" target="_blank">NYC .NET Developers Group</a> and the
          <a href="https://www.meetup.com/nyaltnet" target="_blank">New York ALT.NET Software Development Group</a>.
        </p>
        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          Previously I was an archivist and librarian at the American Jewish Historical Society (AJHS) where I worked
          for almost ten years processing archival collections, creating electronic archival finding aids, encoding both
          legacy and newly created finding aids using Encoded Archival Description (an XML schema), and ingesting them
          into the Digital Asset Management System (DigiTool). I was also the webmaster of the
          <a href="https://www.ajhs.org" target="_blank">AJHS website</a> which I maintained for seven years using HTML,
          CSS, JavaScript, jQuery and Drupal. My experience with encoding web pages enabled me to become very passionate
          about web development and my unrelenting interest with the Internet, markup languages and metadata empowered
          me to become excited to work in this profession. In my last semester of graduate studies at Pratt Institute, I
          decided to take on advanced coursework in web development at NYU SPS.
        </p>
        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          This portfolio website is composed of my educational background, technical skills, my r&eacute;sum&eacute;,
          projects I&apos;ve worked on, services I provide, my testimonials and how to contact me. Please visit my
          recently created <a href="http://www.marvinrusinek.com/blog" target="_blank">blog site</a> where I&apos;ve
          started writing exciting and original posts pertaining to Angular and JavaScript.
        </p>
      </article>
    </div>
  </div>
</div>
