<div id="overview">
  <div class="container">
    <div class="row">
      <article class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <a href="../../assets/images/marvin-panel.jpg" target="_blank">
          <img src="../../assets/images/marvin-panel.jpg" title="Marvin Rusinek"
               class="img-fluid about-img col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
               alt="Marvin Rusinek -- Center for Jewish History" lazy-load-images />
        </a>
        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          Hi! My name is <span class="name">Marvin Rusinek</span>. I have a Bachelors Degree in Computer Science and a
          Masters in Library and Information Sciences. I am based in Brooklyn, New York and have significant experience
          with front-end development and UX design. In addition to my Masters Degree, <span class="education">I hold
          10 certificates in web development</span>. I am currently seeking a challenging, full-time front-end web
          developer position in New York City, ideally working with the <a href="https://www.angular.io" target="_blank"
          title="Official Angular website">Angular</a> framework. <span class="angular-experience">I have been working
          with Angular for 3 years</span> now and am currently using Angular 7. I am also skilled in both ASP.NET MVC
          and WebForms using C# 6.0. In addition, <span class="work-experience">I was as an archivist, librarian and
          webmaster at the American Jewish Historical Society (AJHS) where I worked for 10 years</span> producing and
          encoding electronic finding aids using Encoded Archival Description and ingesting them into DigiTool. I
          maintained the <a href="https://www.ajhs.org" target="_blank" title="American Jewish Historical Society
          website">AJHS website</a> for 7 years using HTML5, CSS3, JavaScript and jQuery. During my last semester of
          graduate studies at the <a href="https://www.pratt.edu/academics/information" target="_blank" title="Pratt
          Institute School of Information">Pratt Institute</a>, I pursued more advanced coursework in web development at
          <a href="https://sps.nyu.edu" target="_blank" title="New York University School of Professional Studies">NYU
          SPS</a>.</p>
        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          This portfolio website is composed of my r&eacute;sum&eacute;, my technical skills, projects I&apos;ve worked
          on, my web development blog, web/app services that I provide, testimonials, and how to contact me. Please
          visit my <a href="http://www.marvinrusinek.com/blog" target="_blank" title="my web development blog">blog</a>
          where I have started writing exciting and original posts pertaining to Angular and JavaScript.</p>
      </article>
    </div>
  </div>
</div>
