<div id="overview">
  <div class="container">
    <div class="row">
      <article class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <a href="../../assets/images/marvin-panel.jpg" target="_blank">
          <img src="../../assets/images/marvin-panel.jpg" title="Marvin Rusinek"
               class="img-fluid about-img col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
               alt="Marvin Rusinek -- Center for Jewish History" lazy-load-images />
        </a>
        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          Hi! My name is <span class="name">Marvin Rusinek</span>. I am a Computer Science and Library and Information
          Sciences graduate based in Brooklyn, New York and have significant experience with front-end development
          and UX design. In addition to my Masters Degree, <span class="education">I hold 10 certificates in web development</span>. I
          am currently seeking a challenging, full-time front-end web developer position in New York City, ideally
          working with the <a href="https://www.angular.io" target="_blank">Angular</a> framework.
          <span class="experience">I have been working with Angular for 3 years</span> now and am currently using
          Angular 7. I am also skilled in C# 6.0 with both ASP.NET WebForms and MVC. In addition,
          <span class="work-experience">I worked as an archivist, librarian and webmaster at the American Jewish
          Historical Society (AJHS) for 10 years</span> producing and encoding electronic finding aids using Encoded
          Archival Description (an XML schema) and ingesting them into DigiTool. I maintained the
          <a href="https://www.ajhs.org" target="_blank">AJHS website</a> for 7 years using HTML5, CSS3 and
          JavaScript/jQuery. During my last semester of graduate studies at the Pratt Institute, I pursued more 
          advanced coursework in web development at NYU.</p>
        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          This portfolio website is composed of my education, qualifications, technical skills, my r&eacute;sum&eacute;,
          projects I&apos;ve worked on, web/app services that I provide, my testimonials, and how to contact me. Please 
          also visit my <a href="http://www.marvinrusinek.com/blog" target="_blank">blog site</a> where I&apos;ve started 
          writing exciting and original posts pertaining to Angular and JavaScript.</p>
      </article>
    </div>
  </div>
</div>
