<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <trust level="Full" />
  </system.web>
  <system.webServer>
    <!-- Set the default document -->
    <defaultDocument>
      <files>
        <remove value="index.php" />
        <add value="index.php" />
      </files>
    </defaultDocument>
	  <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
