<div id="tech-summary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2>Technical Skills</h2>
        <div class="front-end">
          <h3 class="text-center">Front-End Web Development</h3>
          <ul class="list-unstyled">
            <li *ngFor="let skill of skills">
              <figure *ngIf="skill.type === 'front-end'">
                <img src={{skill.image}} lazy-load-images>
                <figcaption class="caption">{{skill.name}}</figcaption>
              </figure>
            </li>
          </ul>
        </div>

        <div class="back-end">
          <h3 class="text-center">Back-End Web Development</h3>
          <ul class="list-unstyled">
            <li *ngFor="let skill of skills">
              <figure *ngIf="skill.type === 'back-end'">
                <img src={{skill.image}} lazy-load-images>
                <figcaption class="caption">{{skill.name}}</figcaption>
              </figure>
            </li>
          </ul>
        </div>

        <div class="dev-tools">
          <h3 class="text-center">Development Tools</h3>
          <ul class="list-unstyled text-center">
            <li *ngFor="let skill of skills">
              <figure *ngIf="skill.type === 'dev-tools'">
                <img src={{skill.image}} lazy-load-images>
                <figcaption class="caption">{{skill.name}}</figcaption>
              </figure>
            </li>
          </ul>
        </div>

        <div class="ux-design">
          <h3 class="text-center">UI/UX and Graphic Design</h3>
          <ul class="list-unstyled text-center">
            <li *ngFor="let skill of skills">
              <figure *ngIf="skill.type === 'ux-design'">
                <img src={{skill.image}} lazy-load-images>
                <figcaption class="caption">{{skill.name}}</figcaption>
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div id="tech-summary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2>Technical Skills</h2>
        <div class="front-end">
          <h3 class="text-center">Front-End Web Development</h3>
          <ul>
            <li>
              <figure>
                <img src="../../../assets/images/tech/front-end/HTML5.png">
                <figcaption class="caption">HTML5</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/front-end/CSS3.png">
                <figcaption class="caption">CSS3</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/front-end/JavaScript.png">
                <figcaption class="caption">JavaScript</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/front-end/jquery.png">
                <figcaption class="caption">jQuery</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/front-end/Bootstrap.jpg">
                <figcaption class="caption">Bootstrap</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/front-end/foundation.png">
                <figcaption class="caption">Foundation</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/front-end/Sass.png">
                <figcaption class="caption">Sass</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/front-end/typescript.png">
                <figcaption class="caption">TypeScript</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/front-end/Angular.png">
                <figcaption class="caption">Angular</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/front-end/React.png">
                <figcaption class="caption">React</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/front-end/Knockout.png">
                <figcaption class="caption">Knockout</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/front-end/ionic.png">
                <figcaption class="caption">Ionic</figcaption>
              </figure>
            </li>
          </ul>
        </div>

        <div class="back-end">
          <h3 class="text-center">Back-End Web Development</h3>
          <ul class="text-center">
            <li>
              <figure>
                <img src="../../../assets/images/tech/back-end/DotNetCore.png">
                <figcaption class="caption">.NET</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/back-end/nodejs.png">
                <figcaption class="caption">NodeJS</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/back-end/php_mysql.png">
                <figcaption class="caption">PHP</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/back-end/java.png">
                <figcaption class="caption">Java</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/back-end/mongodb.png">
                <figcaption class="caption">MongoDB</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/back-end/firebase.png">
                <figcaption class="caption">Firebase</figcaption>
              </figure>
            </li>
          </ul>
        </div>

        <div class="dev-tools">
          <h3 class="text-center">Development Tools</h3>
          <ul class="text-center">
            <li>
              <figure>
                <img src="../../../assets/images/tech/dev-tools/vscode.png">
                <figcaption class="caption">VSCode</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/dev-tools/WebStorm.png">
                <figcaption class="caption">WebStorm</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/dev-tools/IntelliJ.jpg">
                <figcaption class="caption">IntelliJ</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/dev-tools/git.png">
                <figcaption class="caption">Git</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/dev-tools/gulp.png">
                <figcaption class="caption">Gulp</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/dev-tools/grunt.png">
                <figcaption class="caption">Grunt</figcaption>
              </figure>
            </li>
          </ul>
        </div>

        <div class="ux-design">
          <h3 class="text-center">UI/UX and Graphic Design</h3>
          <ul class="text-center">
            <li>
              <figure>
                <img src="../../../assets/images/tech/ux-design/photoshop.png">
                <figcaption class="caption">PhotoShop</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/ux-design/illustrator.png">
                <figcaption class="caption">Illustrator</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/ux-design/fireworks.png">
                <figcaption class="caption">Fireworks</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/ux-design/visio.png">
                <figcaption class="caption">Visio</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/ux-design/axure-rp.png">
                <figcaption class="caption">Axure</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/ux-design/morae.png">
                <figcaption class="caption">Morae</figcaption>
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>-->
