@import '../../../node_modules/foundation-sites/dist/css/foundation.min.css';
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.about {
  background-color: #9ACBA4;
  height: auto;
}

.about-nav {
  margin-left: -80px;
}

.tab-content {
  background-color: #9ACBA4;
  border: none #9ACBA4;
}
/*
.tabs-title > a {
  color: #1468a0;
}

.tabs-title > a:hover {
  color: #0275d8;
  font-weight: bold;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true']::after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  color: #0275d8;
  font-weight: bold;
}

.tabs-title > a::after {
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #0275d8;
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translate3d(0,150%,0);
  transform: translate3d(0,150%,0);
}


.tab-panel {
  *zoom: 1;
  margin-bottom: 1.5rem;
  -- Customized --
  display: block !important;
  opacity: 0;
}

--Customized--
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.tab-panel:before, .tab-panel:after {
  content: " ";
  display: table;
}
.tab-panel:after {
  clear: both;
}
.tab-panel > .content {
  display: none;
  float: left;
  padding: 0.9375rem 0;
}
.tab-panel.active {
  -webkit-animation: fadeIn 3s;
  animation: fadeIn 3s;
  opacity: 1;
  display: block;
}
*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
