<section id="about" class="about container-fluid">
  <h2 class="heading" data-sal-duration="400" data-sal="slide-up" data-sal-delay="200">About</h2>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <mat-tab-group mat-align-tabs="center" class="mat-tab-group mat-primary center-tab">
          <mat-tab label="Overview" class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">
            <ng-template matTabContent>
              <app-overview></app-overview>
            </ng-template>
          </mat-tab>
          <mat-tab label="Education" class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">
            <ng-template matTabContent>
              <app-education></app-education>
            </ng-template>
          </mat-tab>
          <mat-tab label="Qualifications" class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">
            <ng-template matTabContent>
              <app-qualifications></app-qualifications>
            </ng-template>
          </mat-tab>
          <mat-tab label="Technical Skills" class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">
            <ng-template matTabContent>
              <app-techskills-list></app-techskills-list>
            </ng-template>
          </mat-tab>
          <mat-tab label="R&eacute;sum&eacute;" class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">
            <ng-template matTabContent>
              <app-resume></app-resume>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
        <br clear="all" /><br clear="all" />
      </div>
    </div>
  </div>
</section>
