<section id="hero" data-sal-duration="500" data-sal="zoom-in" data-sal-delay="100" data-sal-easing="ease-out-bounce"
  parallax lazy-load-images>

  <!--<div>Some tags before</div>
  <owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let slide of slidesStore">
      <ng-template carouselSlide [id]="slide.id">
        <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
      </ng-template>
    </ng-container>

  </owl-carousel-o>
  <div>Some tags after</div>-->

  <a href="#" class="scroll-down" address="true"></a>
</section>

