#hero {
  height: 700px;
  width: 100%;
  background-image: url("../../assets/images/mydesktopsetup.jpg");
  background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  text-align: center;
  background-color: #9ACBA4;
}
