@import '../../../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';

header {
  background-color: #4ABDAC;
  width: 100%;
}

.logo {
  margin-top: -25px;
  height: 64px;
  width: 64px;
  padding-right: 10px;
}

.nav-link.active {
  border-bottom: 3px solid #0275d8;
}

a:hover {
  text-decoration: none;
}

fa, .fab {
  color: #1357ff;
  font-size: 20px;
}


ul.menu {
  margin-left: -20px;
}

ul li {
  padding-right: 5px;
}


.navbar-brand {
  padding-top: 15px;
  padding-right: 40px;
  margin-top: -10px;
  margin-left: 75px;
  background: #4ABDAC;
}

.navbar-brand a:hover {
  background: none;
}

a > span.navbar-text {
  font-size: 3em;
  color: #0275d8;
  font-weight: bold;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
               0px -5px 35px rgba(255,255,255,0.3);
}

span {
  color: #0275d8;
  font-weight: bold;
}

.fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
  border-width: 0 0 1px;
  background-color: #4ABDAC;
}

.navbar {
  margin-bottom: 10px;
  background-color: #4ABDAC;
  border-bottom: 1px solid rgba(255,255,255,0.15) !important;
}

ul.navbar-nav {
  padding-left: 40px;
  margin-top: -40px;
  background-color: #4ABDAC;
  margin-bottom: -40px;
  margin-left: -55px;
}

span.nav-span {
  font-size: 17px;
  text-transform: uppercase;
}

.blog-link {
  margin-top: 8px;
  margin-left: 5px;
}
.blog-link > a:hover {
  border-bottom: 3px solid #0275d8;
  padding-bottom: 13px;
}

.social-container {
  margin: 0 auto;
  height: 60px;
}
.social-container > ul {
  list-style-type: none;
}
.social-container > ul li {
  display: inline-block;
  margin-top: 10px;
}
.social-container > li {
  padding-right: 15px;
}
.social-container > ul li:nth-child(2) {
  padding-right: 10px;
  border-right: 1px solid #0275b8 !important;
}
.social-container > ul li:nth-child(3) {
  padding-left: 10px;
}
.social-container > ul li > a img:hover {
  margin-top: -5px;
}
.search-icon {
  margin-top: 7px;
}

/* rotate the hamburger button on toggle */
.navbar-toggler:focus, .navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  height: 20px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1) {
  -webkit-transition: transform .35s ease-in-out;
  -moz-transition: transform .35s ease-in-out;
  -o-transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}


/* media queries that change logo size depending on screen size */
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .form-services ul {
    margin-left: 20%;
  }
  .social-container { margin-left: -100px; }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}


@media (min-width: 481px) and (max-width: 575px) {
  .logo {
    margin-top: 5px;
  }
  a > span.navbar-text {
    font-size: 1.2em;
    margin-top: -45px;

  }
  span.navbar-text {
    font-size: 1.4em;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  a > span.navbar-text {
    font-size: 1.5em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  a > span.navbar-text {
    font-size: 1.75em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  a > span.navbar-text {
    font-size: 2em;
  }
}

@media (max-width: 575px) {
  button.navbar-toggler {
    margin-top: -60px;
  }
}

