<header id="header" class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-light fixed-top"
  >
    <a class="navbar-brand"
       data-sal-duration="300"
       data-sal="slide-up"
       data-sal-delay="200">
      <img src="../../assets/images/logo.svg" class="logo">
      <span class="navbar-text">Marvin Rusinek</span>
    </a>

    <button class="navbar-toggler navbar-toggler-right collapsed" data-toggle="collapse" data-target="#collapsableNavbar" aria-controls="collapsableNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsableNavbar">
        <ul class="navbar-nav mr-auto" style="margin-left: -25px;"
            data-sal-duration="300"
            data-sal="slide-down"
            data-sal-delay="400">
          <li class="nav-item active">
            <a class="nav-link" href="#page-top">
              <span class="nav-span" aria-label="Home">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">
               <span class="nav-span" aria-label="About">About</span>
            </a>
            <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="about#overview">Overview</a>
              <a class="dropdown-item" href="about#education">Education</a>
              <a class="dropdown-item" href="about#techsumm">Technical Summary</a>
              <a class="dropdown-item" href="about#skills_exp">Skills and Experience</a>
              <a class="dropdown-item" href="about#resumeModal">R&eacute;sum&eacute;</a>
            </div>-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">
              <span class="nav-span" aria-label="Services">Services</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">
              <span class="nav-span" aria-label="Portfolio">Portfolio</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">
              <span class="nav-span" aria-label="Contact">Contact</span>
            </a>
          </li>
        </ul>
    </div>

    <div class="social-container"
         data-sal-duration="300"
         data-sal="slide-up"
         data-sal-delay="600">
      <div class="lefticons">
        <ul class="fa">
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/marvinrusinek" aria-label="LinkedIn">
              <img src="../../assets/images/SM/linkedin.gif" height="24" width="24" />
              <span class="sr-only">LinkedIn</span>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/marvinrusinek" aria-label="GitHub">
              <img src="../../assets/images/SM/github.png" height="24" width="24" />
              <span class="sr-only">GitHub</span>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://codepen.io/multiv123" aria-label="Codepen">
              <img src="../../assets/images/SM/codepen.png" height="24" width="24" />
              <span class="sr-only">Codepen</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="righticons">
        <ul>
          <li>
            <a target="_blank" href="#contact" aria-label="E-Mail">
              <img src="../../assets/images/SM/mail_icon.png" height="24" width="24" />
              <span class="sr-only">E-Mail</span>
            </a>
          </li>
          <li class="search-icon">
            <a href="#" class="trigger-overlay search-icon highlighted" data-area="search" data-container="box-container" aria-label="Search">
              <fa name="search" aria-hidden="true"></fa>
              <span class="sr-only">Search</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
