<header id="header" class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-light fixed-top">
    <a class="navbar-brand" data-sal-duration="300" data-sal="slide-up" data-sal-delay="200">
      <img src="../../assets/images/logo.svg" class="logo">
      <span class="navbar-text">Marvin Rusinek</span>
    </a>

    <button class="navbar-toggler navbar-toggler-right collapsed" data-toggle="collapse" data-target="#collapsableNavbar"
            aria-controls="collapsableNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsableNavbar">
      <ul class="navbar-nav">
        <li class="nav-item" data-sal-duration="200"
            data-sal="slide-down"
            data-sal-delay="200">
          <a class="nav-link" href="#about" mat-menu-item>
            <span class="nav-span" aria-label="About">About</span>
          </a>
        </li>
        <li class="nav-item" data-sal-duration="200"
            data-sal="slide-down"
            data-sal-delay="400">
          <a class="nav-link" href="#portfolio" mat-menu-item>
            <span class="nav-span" aria-label="Portfolio">Portfolio</span>
          </a>
        </li>
        <li class="nav-item" data-sal-duration="200"
            data-sal="slide-down"
            data-sal-delay="600">
          <a class="nav-link" href="#services" mat-menu-item>
            <span class="nav-span" aria-label="Services">Services</span>
          </a>
        </li>
        <li class="nav-item" data-sal-duration="200"
            data-sal="slide-down"
            data-sal-delay="800">
          <a class="nav-link" href="#testimonials" mat-menu-item>
            <span class="nav-span" aria-label="Testimonials">Testimonials</span>
          </a>
        </li>
        <li class="nav-item" data-sal-duration="200"
            data-sal="slide-down"
            data-sal-delay="1000">
          <a class="nav-link" href="#contact" mat-menu-item>
            <span class="nav-span" aria-label="Contact">Contact</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="social-container nav-item">
        <ul>
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/marvinrusinek" aria-label="LinkedIn">
              <img src="../../assets/images/contact/linkedin.gif" height="24" width="24" />
              <span class="sr-only">LinkedIn</span>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/marvinrusinek" aria-label="GitHub">
              <img src="../../assets/images/contact/github.png" height="24" width="24" />
              <span class="sr-only">GitHub</span>
            </a>
          </li>
          <li>
            <a target="_blank" href="#contact" aria-label="E-Mail">
              <img src="../../assets/images/contact/mail.png" height="24" width="24" />
              <span class="sr-only">E-Mail</span>
            </a>
          </li>
          <li class="search-icon">
            <a href="#" class="trigger-overlay search-icon highlighted" data-area="search" data-container="box-container"
               aria-label="Search">
              <fa name="search" aria-hidden="true"></fa>
              <span class="sr-only">Search</span>
            </a>
          </li>
        </ul>
    </div>
  </nav>
</header>
