<div id="resume">
  <p>Click below to download a printable r&eacute;sum&eacute;.</p>
  <ul>
    <li>
      <img src="../../../assets/images/modal/resume-modal/msword.png">&nbsp;&nbsp;
      <a href="http://www.marvinrusinek.com/assets/resume/Marvin_Rusinek_Web_Dev_Resume_010819.doc" target="_blank">MS Word R&eacute;sum&eacute;</a>
    </li>
    <li>
      <img src="../../../assets/images/modal/resume-modal/pdf.png">&nbsp;&nbsp;
      <a href="http://www.marvinrusinek.com/assets/resume/Marvin_Rusinek_Web_Dev_Resume_010819.pdf" target="_blank">PDF R&eacute;sum&eacute;</a>
    </li>
    <li>
      <img src="../../../assets/images/modal/resume-modal/google-docs.png">&nbsp;&nbsp;
      <a href="https://docs.google.com/document/d/1RxT_XAxUoI-lNpHr-37J0zG38f1xE1_iBE040j-x74g" target="_blank">Google Docs R&eacute;sum&eacute;</a>
    </li>
  </ul>
</div>
