#resume {
  margin-left: 35%;
  margin-top: 25px;
  overflow-y: hidden;
}

p::first-letter {
  font-size: 150%;
}

ul {
  margin-left: 5%;
  list-style-type: none;
}

.resumeIconsAlignment {
  display: inline-block;
}

li {
  padding-bottom: 10px;
  font-weight: 700;
  color: #0275b8;
  display: inline !important;
}
