@import '../../../node_modules/foundation-sites/dist/css/foundation.min.css';
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Oswald|Droid|Roboto');

.contact {
  background-color: #FEF5C6;
  height: auto;
}

h2 {
  margin: 0;
}

.get-in-touch {
  margin-bottom: 20px;
  margin-top: -20px;
}
.get-in-touch > p {
  font-size: 22px;
}

.ul-contact-div {
  margin-left: 38.5%;
  float: left;
}
ul.ul-contact {
  display: inline-block;
}
ul.ul-contact li {
  list-style-type: none;
  display: inline-block;
  padding-bottom: 10px;
  padding-right: 10px;
}

ul.ul-contact span {
  font-size: 16px;
}

ul.ul-contact span a {
  text-decoration: none;
  font-size: 16px;
  color: #0275b8;
  font-weight: 600;
}
ul.ul-contact span a:hover {
  color: #28a745;
  font-weight: 600;
}


.contactMessageFormContainer {
  width: 800px;
  margin-top: 30px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid #28a745 !important;
  border-radius: 5px 5px 5px 5px;

}

form {
  margin-left: 10px;
  margin-top: 25px;
}

legend {
  margin-top: -10px;
  font-size: 28px;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

input.form-control {
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #28a745 !important;
  background: #fcfcfc;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

textarea.form-control {
  border: 2px solid #28a745 !important;
  color: #aaa;
  background: #fcfcfc;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}


input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.ng-valid[required], .ng-valid.required  {
   border-left: 5px solid #42A948;
}

.nameField, .emailField {
  position: relative;
  color: #aaa;
  font-size: 16px;
}
.nameField input, .emailField input {
  text-indent: 32px;
}
.nameField .fa-id-card, .emailField .fa-envelope {
  position: absolute;
  top: 8px;
  left: 10px;
  color: #228B22 !important;
  font-size: 20px;
}
.fa-sticky-note {
  position: absolute;
  top: 212px;
  left: 45px;
  color: #228B22 !important;
  font-size: 20px;
}


label, .form-services ul li {
  color: #0275b8;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.required {
  color: red;
  font-size: larger;
}

.form-field-error, .form-error {
  color: #f54000;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: flex;
}
.form-field-error {
  justify-content: left;
  padding-left: 10px;
}
.recaptcha, .form-error {
  justify-content: center;
}
.form-error {
  margin-top: 20px;
}

.recaptchaReactiveFormGroup {
  margin-left: 10%;
  margin-top: 40px;
  border: 3px solid green;
}

.name, .email, .message {
  margin-top: -10px;
}

.message {
  height: 270px;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea[type="text"]::-webkit-input-placeholder {
  color: #3F704D !important;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea[type="text"]::-webkit-input-placeholder {
  color: #228B22 !important;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]:-ms-input-placeholder {
  color: #3F704D !important;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
input[type="email"]::-moz-placeholder {
  color: #3F704D !important;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-top: 10px;
  opacity: 1;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea[type="text"]:focus {
  background-color: powderblue;
}

.services-query {
  margin-bottom: 15px;
  font-family: 'Droid', serif;
  font-weight: 500;
}

.form-services {
  margin-left: 20px;
  margin-top: 30px;
}
.form-services ul {
  margin-left: 20%;
}
.form-services ul li {
  list-style-type: none;
  margin: -20px;
  padding: -20px;
}

label.services {
  display: flex;
  align-items: flex-start;
}
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  flex: none;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 2px solid #28a745;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: inline-block;
  position: relative;
  margin-top: 3px;
}
.regular-checkbox:checked {
  background-color: #FEF5C6;
  border: 2px solid #28a745;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}
.regular-checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: -3px;
  left: 3px;
  color: #000;
}

button.button {
  border: 2px solid #000;
  border-radius: 10px 10px 10px 10px;
  padding-top: 10px;
  margin-top: -75px;
  font-weight: bold;
  cursor: pointer;
  background: #66cdaa !important;
}
.buttonContainer {
  margin-left: 35%;
  display: block;
}


/* media queries that change logo size depending on screen size */
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .form-services ul {
    margin-left: 20%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

@media (min-width: 481px) and (max-width: 575px) {

}
@media (min-width: 576px) and (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
