<section id="contact" class="contact container-fluid col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <h2 class="heading" data-sal-duration="400" data-sal="slide-up" data-sal-delay="200">Contact</h2>

  <br clear="all" />

  <div class="get-in-touch">
    <p class="text-center">If you have any questions, please feel free to reach out below.<br clear="left" />
      I will answer your request as soon as possible.</p>

  </div>  <!-- end of get-in-touch div -->

  <br clear="left" />

  <div>
    <div class="contactMessageFormContainer">
      <form id="contactForm" [formGroup]="contactForm" (ngSubmit)="onSubmit($event)">
        <fieldset>
          <legend class="text-center mb-10" data-sal-duration="600" data-sal="slide-up" data-sal-delay="200">
            Get in touch about your project</legend>
          <p class="text-center">I will get it launched within your timeframe.</p>
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="name form-group">
                  <ul *ngFor="let contactfield of contactFormFields">
                    <li style="list-style-type: none">
                      <div>{{contactfield.inputName}}: <span class="required">*</span></div>
                      <div class={{contactfield.inputClass}} style="margin-top: 5px">
                        <span class={{contactfield.icon}}></span>
                        <div *ngIf="contactfield.inputType === 'input'">
                          <input type="contactfield.type" class="form-control" aria-required="true"
                             name="contactfield.formControl" [formControlName]="contactfield.formControl"
                             [placeholder]="contactfield.placeholderText">
                        </div>
                        <div *ngIf="contactfield.inputType === 'textarea'">
                           <textarea type="contactfield.type" class="form-control" aria-required="true" rows="4"
                             [formControlName]="contactfield.formControl" name="contactfield.formControl"
                             [placeholder]="contactfield.placeholderText"></textarea>
                        </div>
                      </div>

                      <span *ngIf="contactForm.get('contactfield.formControl') === 'invalid' ||
                        contactForm.get('contactfield.formControl') === 'untouched'" class="help-block form-field-error"
                        style="margin-top: -20px">
                          <span *ngIf="contactForm.get('contactfield.formControl').errors['required']">
                            {{contactfield.inputName}} is required!
                          </span>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <span>
                  <h5 class="text-center services-query">What services are you interested in? <span class="required">*</span></h5>
                </span>
                <div class="form-services form-group">
                  <ul formArrayName="services" *ngFor="let service of contactForm['controls'].services['controls'];
                    let i = index">
                    <li>
                      <label class="services">
                        <input id="services" class="regular-checkbox" name="services" type="checkbox"
                          [formControlName]="i">&nbsp;&nbsp;{{services[i].name}}
                      </label>
                    </li>
                  </ul>
                </div>
                <div class="recaptchaReactiveFormGroup form-group">
                  <re-captcha siteKey="6LerxYMUAAAAALaV-sOfT5i_PDfza7RI7b2D6qCD"
                              formControlName="recaptchaReactive"></re-captcha>
                </div>
              </div>
            </div> <!-- end row-->
          </div>
          <div class="container">
            <div class="row">
              <span *ngIf="!contactForm.valid && contactForm.touched" class="help-block form-error"
                style="margin-top: -100px; margin-left: 270px; padding-bottom: 10px">Please enter valid data!</span>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="buttonContainer" data-sal-duration="600" data-sal="slide-up" data-sal-delay="200">
                <button type="submit" class="button hvr-rectangle-out" [disabled]="contactForm.invalid">
                  <img src="../../assets/images/contact/enter.png">&nbsp;&nbsp;
                  <span>Submit Your Request</span>
                </button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <!--<div>Form status: {{contactForm.status}}</div>
  <pre>{{contactForm.value | json}}</pre>-->
  <br clear="all" />

  <div class="ul-contact-div" data-sal-duration="600" data-sal="slide-up" data-sal-delay="200">
    <ul class="ul-contact" *ngFor="let contactMethod of contactMethods">
      <li>
        <a href={{contactMethod.url}} target="_blank">
          <img src={{contactMethod.image}} height="48" width="48">
        </a>
        <span class="sr-only">{{contactMethod.method}}</span>
      </li>
    </ul>
  </div>  <!-- end of ul-contact-div -->
</section>
