<section id="contact" class="contact container-fluid col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <h2 class="heading" data-sal-duration="400" data-sal="slide-up" data-sal-delay="200">Contact</h2>

  <br clear="all" />

  <div class="get-in-touch">
    <p class="text-center">If you have any questions, please feel free to reach out below.<br clear="left" />
      I will answer your request as soon as possible.</p>
    <div class="ul-contact-div">
      <ul class="ul-contact">
        <li>
          <img src="../../assets/images/SM/mail_icon.png" height="24" width="24">&nbsp;&nbsp;
          <span><a href="mailto:marvin@marvinrusinek.com">marvin@marvinrusinek.com</a></span>
          <span class="sr-only">E-mail</span>
        </li>
        <li>
          <img src="../../assets/images/contact/internet.png" height="24" width="24">&nbsp;&nbsp;
          <span>
            <a target="_blank" href="http://www.marvinrusinek.com" aria-label="GitHub">http://www.marvinrusinek.com</a>
          </span>
          <span class="sr-only">GitHub</span>
        </li>
        <li>
            <img src="../../assets/images/SM/linkedin.gif" height="24" width="24">&nbsp;&nbsp;
            <span>
              <a target="_blank" href="https://www.linkedin.com/in/marvinrusinek" aria-label="LinkedIn">
                https://www.linkedin.com/in/marvinrusinek
              </a>
            </span>
            <span class="sr-only">LinkedIn</span>
        </li>
        <li>
            <img src="../../assets/images/SM/github.png" height="24" width="24">&nbsp;&nbsp;
            <span><a target="_blank" href="https://github.com/marvinrusinek" aria-label="GitHub">
              https://github.com/marvinrusinek</a></span>
            <span class="sr-only">GitHub</span>
        </li>
        <li>
          <img src="../../assets/images/SM/pin.png" height="24" width="24">&nbsp;&nbsp;
          <span>Brooklyn, NY</span>
        </li>
      </ul>
    </div>  <!-- end of ul-contact-div -->
  </div>  <!-- end of get-in-touch div -->

  <br clear="left" />

  <div>
        <div class="contactMessageFormContainer">
          <form id="contactForm" [formGroup]="contactForm" (ngSubmit)="onSubmit($event)">
            <fieldset>
              <legend class="text-center mb-10">Get in touch about your project</legend>
                <div class="container">
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <div class="name form-group">
                        <label for="Name">Name: <span class="required">*</span></label>
                        <div class="nameField">
                          <span class="fa fa-id-card"></span>
                          <input type="text" class="form-control" formControlName="name" id="name" name="name"
                                 aria-label="Name" aria-required="true" placeholder="Enter your name&hellip;">
                        </div>
                        <span *ngIf="!contactForm.get('name').valid && contactForm.get('name').touched"
                              class="help-block form-field-error" style="margin-top: -20px">
                          <span *ngIf="contactForm.get('name').errors['required']">Name is required!</span>
                        </span>
                      </div>

                      <div class="email form-group">
                        <label for="emailAddress">E-mail Address: <span class="required">*</span></label>
                        <div class="emailField">
                          <span class="fa fa-envelope"></span>
                          <input type="email" class="form-control" formControlName="emailAddress" id="emailAddress"
                                 name="emailAddress" aria-label="E-mail Address" aria-required="true"
                                 placeholder="Enter your e-mail address&hellip;">
                        </div>
                        <span *ngIf="!contactForm.get('emailAddress').valid && contactForm.get('emailAddress').touched"
                              class="help-block form-field-error" style="margin-top: -20px">
                          <span *ngIf="contactForm.get('emailAddress').errors['required']">
                            E-mail address is required!
                          </span>
                        </span>
                      </div>

                      <div class="message form-group">
                        <label for="message">Message: <span class="required">*</span></label>
                        <textarea type="text" class="form-control" formControlName="message" id="message" name="message"
                                  rows="4" aria-label="Message" aria-required="true"
                                  placeholder="Enter your message&hellip;"></textarea>
                        <span *ngIf="!contactForm.get('message').valid && contactForm.get('message').touched"
                              class="help-block form-field-error" style="margin-top: -20px">
                          <span *ngIf="contactForm.get('message').errors['required']">Message is required!</span>
                        </span>
                      </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <h5 class="text-center services-query">What services are you interested in?</h5>
                      <div class="form-services form-group">
                        <ul formArrayName="services" *ngFor="let service of contactForm['controls'].services['controls'];
                         let i = index">
                          <li>
                            <label class="services">
                              <input id="services" class="regular-checkbox" name="services" type="checkbox"
                                     [formControlName]="i">&nbsp;&nbsp;{{services[i].name}}
                            </label>
                          </li>
                        </ul>
                      </div>
                      <div style="margin-left: 10%; margin-top: 40px" class="form-group">
                        <re-captcha formControlName="recaptchaReactive"></re-captcha>
                      </div>
                    </div>
                  </div> <!-- end row-->
                  </div>
                  <div class="container">
                    <div class="row">
                      <span *ngIf="!contactForm.valid && contactForm.touched" class="help-block form-error" style="margin-top: -75px; margin-left: 270px; padding-bottom: 10px">
                        Please enter valid data!
                      </span>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div style="margin-left: 35%; display: block">
                        <button type="submit" class="button hvr-rectangle-out">
                          <img src="../../assets/images/contact/enter.png">&nbsp;&nbsp;Submit Your Request
                        </button>
                      </div>
                    </div>
                  </div>
              </fieldset>
            </form>
        </div>
  </div>
  <!--<div>Form status: {{contactForm.status}}</div>
  <pre>{{contactForm.value | json}}</pre>-->
  <br clear="all" />
</section>
