@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-weight: 300;
  font-style: normal;
  width: 100%;
  margin: 0%;
}

body, h2 {
  font-family: proxima-nova, sans-serif;
  letter-spacing: normal;
  line-height: 36px;
  text-transform: none;
  color: #111;
}

body h2:before {
  height: 80px;
  content: "";
  display: block;
}

.container-fluid {
  margin: 0px !important;
  padding: 0px !important;
  padding-bottom: 40px !important;
  overflow: hidden;
}


.center-tab .mat-ink-bar {
  height: 5px;
}

/* label style */
.mat-tab-label {
  background: #00adb5;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 18px;
  height: 60px !important;
  position: relative;
  width: 190px !important;
  text-align: center;
}
.mat-tab-label:nth-child(1):before {
  content: url('http://marvinrusinek.com/assets/images/tabbednav/info.png');
  margin-top: 10px;
  padding-right: 5px;
}
.mat-tab-label:nth-child(2):before {
  content: url('http://marvinrusinek.com/assets/images/tabbednav/books.png');
  margin-top: 10px;
  padding-right: 8px;
}
.mat-tab-label:nth-child(3):before {
  content: url('http://marvinrusinek.com/assets/images/tabbednav/programming.png');
  margin-top: 15px;
  padding-right: 8px;
}
.mat-tab-label:nth-child(4):before {
  content: url('http://marvinrusinek.com/assets/images/tabbednav/resume.png');
  margin-top: 10px;
  padding-right: 8px;
}

/* focus style */
.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
  background: #D56C6F;
  color: #4B3621;
  font-weight: 700;
  height: 60px !important;
  width: 190px !important;
}

.mat-tab-header, .mat-tab-label-container, .mat-ripple {
  overflow: inherit !important;
}
.mat-ink-bar {
  width: 190px !important;
}
.mat-ink-bar:after {
  content: '';
  position: absolute;
  top: -5px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}


h2.heading {
  color: #333;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-left: 0;
  margin-bottom: 30px;
  padding-top: 10px;
  font-family: proxima-nova, sans-serif;
}

h2.heading:after {
  display: block;
  height: 2px;
  background-color: #1779ba;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about h2.heading:after, .services h2.heading:after {
  margin-bottom: 35px;
}

a:hover {
   text-decoration: none;
   cursor: pointer;
}

p, article > p {
  color: #4B3621;
}

.modal-header::before {
  content: '';
  width: 100%;
  height: .5rem;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(left, #04B3BA 0%, #0ABEA2 100%);
  background: -webkit-linear-gradient(left, #04B3BA 0%,#0ABEA2 100%);
  background: linear-gradient(to right, #04B3BA 0%,#0ABEA2 100%);
  display: block;
  position: absolute;
}

/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  border-radius: 10px 10px 10px 10px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}


/* media queries that change logo size depending on screen size */
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .form-services ul {
    margin-left: 20%;
  }
}

/* Extra Small Devices, Phones */
@media (min-width: 321px) and (max-width : 480px) {

}

@media (min-width: 481px) and (max-width: 575px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .myNameLoading {
    font-size: 2em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

