<section id="portfolio" class="portfolio container-fluid">
  <h2 class="heading" data-sal-duration="400" data-sal="slide-up" data-sal-delay="200">Portfolio</h2>

  <div class="container">
    <div class="row">
      <article class="portfolioIntro col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" data-sal-duration="300"
               data-sal="slide-up" data-sal-delay="300">
        <p>The following is a portfolio gallery of web development, UX design and programming projects that I have
          worked on professionally and as part of my studies. Each title below a project image is linked to its runnable
          project. When no project link is available upon clicking, you will be redirected back to the top. Most
          projects should have both &ldquo;View Project&rdquo; and &ldquo;View Code&rdquo; buttons displayed but please
          be aware that some projects may not have a project or code link available.</p>
        <p>Clicking the &ldquo;View Project&rdquo; button will bring up a pop-up window with a larger image of the
          project, relevant project metadata, the problem encountered and its solution along with contextual
          information. Buttons are available near the bottom of the window to view the live project or to see the source
          code. When clicked, the &ldquo;View Code&rdquo; button on the portfolio section or in the pop-up window will
          bring you to the respective <strong><a href="https://github.com/marvinrusinek" data-toggle="tooltip"
          data-placement="bottom" title="Marvin Rusinek GitHub account" target="_blank">GitHub</a></strong> code
          repository where you can view the code and gain a sense of my process. If any of these projects and/or skills
          are a match with your requirements or if you need any further information about the services that I offer,
          please feel free to <strong><a href="#contact">contact me</a></strong> below.</p>
      </article>
    </div>

    <br clear="all" />

    <div class="container row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 filtersIndent">
      <div class="filters button-group"
           data-sal-duration="600"
           data-sal="slide-up"
           data-sal-delay="300">
        <span><em>Filter By:</em>&nbsp;&nbsp;</span>
        <div *ngFor="let filter of filters">
          <button type="button" class="button" [attr.data-filter]="filter.filter">
            <img src={{filter.icon}} height="16" width="16">&nbsp;<span>{{filter.name}}</span>
          </button>
        </div>
      </div>
    </div>
    <br clear="all" />

    <div class="container row grid-indent">
      <div class="myPortfolioGrid col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" lazy-load-images>
        <app-project-list></app-project-list>
      </div>
    </div>
  </div>
</section>
