.portfolio {
  background: #839D6E !important;
}

h2 {
  font-family: proxima-nova, sans-serif;
}

article {
  width: 100%;
}

article p {
  margin-left: 0px;
  width: 1100px;
}

article p a {
  color: rgb(2, 117, 184) !important;
  font-weight: 700;
}

/*********************** Isotope button **********************/
.button {
  display: inline-block;
  padding: 5px 5px 5px 5px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px 7px 7px 7px;
  background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2));
  color: black;
  height: 40px;
  font-family: sans-serif;
  font-size: 28px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active, .button:hover {
  border-radius: 10px 10px 10px 10px;
}

.button:active, .button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/*********************** Isotope button-group **********************/
.button-group {
  padding-top: 25px;
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid black;
  margin-left: 0;
  margin-right: 8px;
  color: #4B3621;
}

.button-group .button:first-child, .button-group .button:last-child {
  border-radius: 10px 10px 10px 10px;
}

.grid-indent {
  margin-left: 40px;
}

.myPortfolioGrid {
  background: #839D6E;
}


.container {
  position: relative;
  width: 1200px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.portfolioIntro {
  font-size: 20px;
}

.portfolioIntro a:hover {
  text-decoration: none;
}

.filters {
  margin-left: -100px;
  padding: 0;
  list-style: none;
}

.filters button {
  display: block;
  float: left;
  padding: 5px 20px;
  text-decoration: none;
  color: transparent;
  cursor: pointer;
  font-size: 14px;
}

.filtersIndent {
  margin-left: 20px;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #portfolio { width: 570px; }
  #portfolio > article > p { width: 550px; }
  .filtersIndent {  margin-left: -50px; }
  .grid-indent {  margin-left: 0; }
  .portfolioIntro {  margin-left: -60px; width: auto; }
  .button-group > button { display: block; padding-bottom: 10px; }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .filtersIndent {  margin-left: -150px; }
  .grid-indent {  margin-left: 0; }
  .portfolioIntro {  margin-left: -100px; width: auto; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .filtersIndent { margin-left: 40px; }
}
