<section id="portfolio" class="portfolio container-fluid">
  <h2 class="heading" data-sal-duration="400" data-sal="slide-up" data-sal-delay="200">Portfolio</h2>

  <div class="container">
    <div class="row">
      <article class="portfolioIntro col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" data-sal-duration="300"
               data-sal="slide-up" data-sal-delay="300">
        <p>This is my web developer portfolio. The portfolio gallery consists of my web development projects as well as
          UX design and programming projects that I have worked on professionally and as part of my studies. Most
          projects should have both &ldquo;View Project&rdquo; and &ldquo;View Code&rdquo; buttons below the project
          image, but please be aware that some projects may not have a project or code link available. Hovering over an
          image will bring up a button to click for more project information contained within a modal.</p>
          <p>The modal consists of a screenshot of the project, project category, duration, technologies used,
          contextual information, the problem encountered and its solution. Clicking the &ldquo;View Project&rdquo;
          button will bring up the project in a new tab. When clicked, the &ldquo;View Code&rdquo; button on the
          portfolio section or in the modal will bring you to the respective
          <strong><a href="https://github.com/marvinrusinek" data-toggle="tooltip" data-placement="bottom"
          title="Marvin Rusinek GitHub account" target="_blank">GitHub</a></strong> code repository where you can view
          the code and gain a sense of my process. If any of these projects or skills are a match with your
          requirements, please feel free to <strong><a href="#contact">contact me</a></strong> below.</p>
      </article>
    </div>

    <br clear="all" />

    <div class="container row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 filters-container">
      <div class="filters button-group"
           data-sal-duration="600"
           data-sal="slide-up"
           data-sal-delay="300">
        <span><em>Filter By:</em>&nbsp;&nbsp;</span>
        <div *ngFor="let filter of filters">
          <button type="button" class="button" [attr.data-filter]="filter.filter">
            <img src={{filter.icon}} height="16" width="16">&nbsp;<span>{{filter.name}}</span>
          </button>
        </div>
      </div>
    </div>
    <br clear="all" />

    <div class="container row grid-indent">
      <div class="myPortfolioGrid col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" lazy-load-images>
        <app-project-list></app-project-list>
      </div>
    </div>

    <div class="container row cta-row">
      <a href="#contact" class="cta-button" title="Contact Me Now">Contact Me</a>
    </div>
  </div>
</section>
