<div id="education">
  <section class="myeducation">
    <h3>Education</h3>
    <ul class="caret">
      <li>New York University School of Professional Studies,
        <span class="degree">Certificates in Advanced Web Development and .NET Application Development</span>,
        <br /><time>Fall 2010-Spring 2012</time></li>
      <li>Pratt Institute,
        <span class="degree">Masters of Science in Library and Information Science</span>,
        Graduated <time>December 2010</time></li>
      <li>New York University Tandon School of Engineering,
        <span class="degree">Bachelors of Science in Computer Science</span>,
        Graduated <time>May 2003</time></li>
    </ul>
  </section>

  <hr />

  <section class="coursework">
    <h3>Online Coursework</h3>
    <ul class="caret">
      <li>&ldquo;A Smarter Way to Learn JavaScript&rdquo; &mdash; training book and online exercises,
        completed <time datetime="2018-08-01">August 2018</time>&nbsp;&nbsp;
        <a href="http://www.asmarterwaytolearn.com/javascript-certificate-of-completion-marvin-rusinek.jpg" target="_blank">View Certificate</a>
      </li>
      <li>Udemy &mdash; &ldquo;Accelerated JavaScript Training&rdquo; bootcamp,
        completed <time datetime="2018-04-01">April 2018</time>&nbsp;&nbsp;
        <a href="https://www.udemy.com/certificate/UC-C6BBGOV8/" target="_blank">View Certificate</a>
      </li>
      <li>Udemy &mdash; &ldquo;Angular (Angular 2+) &amp; NodeJS &mdash; The MEAN Stack Guide,&rdquo;
        completed <time datetime="2018-04-01">April 2018</time>&nbsp;&nbsp;
        <a href="https://www.udemy.com/certificate/UC-NQ97G2OH/" target="_blank">View Certificate</a>
      </li>
      <li>Udemy &mdash; &ldquo;Angular 5 (formerly Angular 2) &mdash; The Complete Guide,&rdquo;
        completed <time datetime="2018-03-01">March 2018</time>&nbsp;&nbsp;
        <a href="https://www.udemy.com/certificate/UC-X9EAFHT1/" target="_blank">View Certificate</a>
      </li>
      <li>Coursera &mdash; Server-side Development with NodeJS,
        completed <time datetime="2016-10-01">October 2016</time>&nbsp;&nbsp;
        <a href="https://www.coursera.org/account/accomplishments/certificate/NK6FZMW8QNT4" target="_blank">View Certificate</a>
      </li>
      <li>Coursera &mdash; Multi-platform Mobile App Development with Web Technologies (Ionic),
        completed <time datetime="2016-09-01">September 2016</time>&nbsp;&nbsp;
        <a href="https://www.coursera.org/account/accomplishments/certificate/RKJ6LHJDK87H" target="_blank">View Certificate</a>
      </li>
      <li>Coursera &mdash; Front-End JavaScript Frameworks: AngularJS,
        completed <time datetime="2016-09-01">September 2016</time>&nbsp;&nbsp;
        <a href="https://www.coursera.org/account/accomplishments/certificate/VUDJ8L5BT4V9" target="_blank">View Certificate</a>
      </li>
      <li>Coursera &mdash; Front-End Web UI Frameworks and Tools (Bootstrap),
        completed <time datetime="2016-08-01">August 2016</time>&nbsp;&nbsp;
        <a href="https://www.coursera.org/account/accomplishments/certificate/J8JUM2LZNDWU" target="_blank">View Certificate</a>
      </li>
    </ul>
  </section>

  <hr />

  <section class="conferences">
    <h3>Professional Conferences and Training</h3>
    <div class="conferencesGrid">
      <div class="conf_left">
        <ul class="caret">
          <span><time datetime="2018">2018</time></span>
          <ul>
            <li>
              <a href="http://www.buzzjs.com" target="_blank">BuzzJS 3.1 Conference</a>
            </li>
          </ul>
          <span><time datetime="2017">2017</time></span>
          <ul>
            <li>
              <a href="http://www.opencamps.org/2017" target="_blank">Open Camps &mdash; Angular Camp</a>
            </li>
            <li>
              <a href="https://www.codecampnyc.org" target="_blank">Code Camp NYC</a>
            </li>
            <li>
              <a href="https://www.angularsummit.com">Angular Summit</a>
            </li>
          </ul>
          <span><time datetime="2016">2016</time></span>
          <ul>
            <li>Code Camp NYC</li>
            <li>BuzzJS Conference</li>
          </ul>
          <span><time datetime="2015">2015</time></span>
          <ul>
            <li>Code Camp NYC</li>
          </ul>
        </ul>
      </div>
      <div class="conf_right">
        <ul class="caret">
          <span><time datetime="2014">2014</time></span>
          <ul>
            <li>Code Camp NYC</li>
          </ul>
          <span><time datetime="2013">2013</time></span>
          <ul>
            <li>Code Camp NYC</li>
            <li>
              <a href="https://www.red-gate.com/hub/events/sqlinthecity/index" target="_blank">Red Gate SQL in the City</a>
            </li>
          </ul>
          <span><time datetime="2012">2012</time></span>
          <ul>
            <li>Code Camp NYC</li>
          </ul>
          <span><time datetime="2011">2011</time></span>
          <ul>
            <li>Code Camp NYC</li>
          </ul>
        </ul>
      </div>
    </div>
  </section>

  <hr style="padding-top: -20px" />

  <section>
    <h3>Meet-Up Groups</h3>
    <ul class="caret">
      <li><a href="https://www.angularnyc.com" target="_blank">Angular NYC</a></li>
      <li><a href="https://www.meetup.com/ReactNYC" target="_blank">React NYC</a></li>
      <li><a href="https://www.meetup.com/NYC-NET-Developers" target="_blank">NYC .NET Developers Group</a></li>
      <li><a href="https://www.meetup.com/nyaltnet" target="_blank">New York ALT.NET Software Development Group</a></li>
      <li><a href="https://www.meetup.com/new-york-php/">New York PHP Meetup Group</a></li>
    </ul>
  </section>
</div>
