#education {
  margin-top: 25px;
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

ul.caret li:before {
  content: "\f0da";
  font-family: 'FontAwesome';
  font-size: 16px;
  font-weight: bold;
  float: left;
  margin-top: 0px;
  margin-left: -17px;
  color: #0275d8;
}

a {
  color: rgb(2, 117, 184) !important;
  font-weight: 700;
}

.list-unstyled {
  margin-bottom: 0;
}

.school-link {
  display: inline-block;
}

.card {
  background-color: #9ACBA4;
  border: none;
}

hr {
  width: 700px;
  margin-left: 100px;
  margin-top: 20px;
  border-color: #228b22;
}

span.degree {
  font-weight: bold;
  color: #36454F;
}

.training {
  width: 1200px;
}

.conferencesGrid > .conf_left > ul {
  margin-left: 0;
}

.conf_left, .conf_right {
  float: left;
}
