<div id="education">
  <section class="timeline">
    <h3 class="text-center">Timeline</h3>
    <p class="text-center"><em>(A synopsis of my education and experience&hellip;)</em></p>

    <mgl-timeline [mobileWidthThreshold]="575">
      <mgl-timeline-entry *ngFor="let _timeline of timelineEntries">
        <mgl-timeline-entry-header><span>{{ _timeline.field }}</span></mgl-timeline-entry-header>
        <mgl-timeline-entry-content><span>{{ _timeline.organization }}</span></mgl-timeline-entry-content>
        <mgl-timeline-entry-dot><i class="fas fa-graduation-cap"></i></mgl-timeline-entry-dot>
        <mgl-timeline-entry-side><span>{{ _timeline.duration }}</span></mgl-timeline-entry-side>
      </mgl-timeline-entry>
    </mgl-timeline>
  </section>

  <hr />

  <section class="coursework">
    <h3 class="text-center">Relevant Courses</h3>
    <p class="text-center"><em>(Click the links below to view my coursework.)</em></p>
    <div class="mycourses">
      <ul class="caret">
        <li>
          <a class="school-link" data-toggle="collapse" href="#NYUSPS" aria-expanded="false" aria-controls="NYUSPS">
            New York University School of Professional Studies
          </a>,
          <span class="degree">Certificates in Advanced Web Development and .NET Application Development</span>,<br />
          <time>Fall 2010-Spring 2012</time>
          <div class="collapse" id="NYUSPS">
            <div class="card card-body">
              <ul>
                <li>Advanced Web Development Intensive
                  <ul>
                    <li>Advanced Web Development with HTML5</li>
                    <li>Apache Web Server</li>
                    <li>Advanced MySQL with PHP</li>
                    <li>AJAX and Web Services</li>
                  </ul>
              </ul>
              <ul>
                <li>.NET Application Development Intensive (C# 6.0 ASP.NET WebForms)</li>
                <li>Advanced ASP.NET Web Development (C# 6.0 ASP.NET MVC)</li>
                <li>Building ASP.NET MVC Web Applications using SQL Server &amp; Entity Framework</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <a class="school-link" data-toggle="collapse" href="#Pratt" aria-expanded="false" aria-controls="Pratt">
            Pratt Institute School of Information
          </a>,
          <span class="degree">Master of Science in Library and Information Science</span>,
          Graduated <time>December 2010</time>
          <div class="collapse" id="Pratt">
            <div class="card card-body">
              <ul>
                <li>Advanced Web Design Production</li>
                <li>Creating Interactive Websites with PHP and MySQL</li>
                <li>Management of Digital Content (Drupal)</li>
                <li>Information Architecture and Interaction Design</li>
                <li>Usability Leadership</li>
                <li>Programming for Interactivity</li>
                <li>Projects in Digital Archives</li>
                <li>Medical Informatics</li>
                <li>Metadata: Description and Access</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <a class="school-link" data-toggle="collapse" href="#NYUPoly" aria-expanded="false" aria-controls="NYUPoly">
            New York University Tandon School of Engineering </a>, <span class="degree">Bachelor of Science in Computer
          Science</span>, Graduated <time>May 2003</time>
          <div class="collapse" id="NYUPoly">
            <div class="card card-body">
                <ul>
                  <li>Java Programming and the World Wide Web</li>
                  <li>Object-Oriented Analysis and Design using Java</li>
                  <li>Application Security with Java</li>
                  <li>Software Engineering</li>
                  <li>Introduction to Programming Methodology in C++</li>
                  <li>Data Structures and Algorithms in C++</li>
                  <li>Object-Oriented Programming in C++</li>
                  <li>Advanced Algorithms in C++</li>
                  <li>Programming Languages</li>
                  <li>Artificial Intelligence</li>
                  <li>Computer Architecture and Organization</li>
                  <li>Digital Logic and State Machine Design</li>
                  <li>Operating Systems</li>
                  <li>Computer Networking</li>
                  <li>Applied Wireless Electronic Commerce</li>
                  <li>Advanced Senior Project in Computer Science</li>
                  <li>Differential Equations and Numerical Methods</li>
                  <li>Discrete and Combinatorial Mathematics</li>
                  <li>Project Planning and Quality Management</li>
                  <li>Marketing</li>
                </ul>
            </div>
          </div>
        </li>
        <li>
          <a class="school-link" data-toggle="collapse" href="#Midwood" aria-expanded="false" aria-controls="Midwood">
            Midwood High School at Brooklyn College
          </a>,
          <span class="degree">Regents Degree from Medical Science Institute</span>,
          Graduated <time>June 1999</time>
          <div class="collapse" id="Midwood">
            <div class="card card-body">
              <ul>
                <li>Accelerated Mathematics Program
                  <ul>
                    <li>AP Calculus BC</li>
                    <li>AP Statistics</li>
                    <li>Multivariable Calculus (MATH 5.3)</li>
                  </ul>
                <li>Intel Science Research Program
                  <ul>
                    <li>Research Biology</li>
                    <li>Microbiology</li>
                    <li>Research Chemistry</li>
                    <li>AP Physics B</li>
                    <li>Introduction to Engineering</li>
                    <li>AP Chemistry</li>
                  </ul>
                </li>
                <li>Other:
                  <ul>
                    <li>AP English Literature and Composition</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <hr />

  <section class="training">
    <h3 class="text-center">Online Training</h3>
    <p class="text-center"><em>(Click on a link to view a certificate for a course I took online.)</em></p>
    <div class="mytraining">
      <ul *ngFor="let training of trainings" class="caret list-unstyled">
        <li><span>{{ training.course }}</span>, completed <span>{{ training.dateCompleted }}</span>&nbsp;&nbsp;
          <span><a href={{ training.certUrl }}>View Certificate</a></span>
        </li>
      </ul>
    </div>
  </section>

  <hr />

  <section class="conferences">
    <h3 class="text-center">Professional Conferences and Training</h3>
    <p class="text-center"><em>(Peruse the training and conferences I attended in the past several years.)</em></p>
    <div class="conferencesGrid">
      <div class="conf_left">
        <ul class="caret">
          <span><time datetime="2018">2018</time></span>
          <ul>
            <li>
              <a href="http://www.buzzjs.com" target="_blank">BuzzJS 3.1 Conference</a>
            </li>
          </ul>
          <span><time datetime="2017">2017</time></span>
          <ul>
            <li>
              <a href="http://www.opencamps.org/2017" target="_blank">Open Camps &mdash; Angular Camp</a>
            </li>
            <li>
              <a href="https://www.codecampnyc.org" target="_blank">Code Camp NYC</a>
            </li>
            <li>
              <a href="https://www.angularsummit.com" target="_blank">Angular Summit</a>
            </li>
          </ul>
          <span><time datetime="2016">2016</time></span>
          <ul>
            <li>Code Camp NYC</li>
            <li>BuzzJS Conference</li>
          </ul>
          <span><time datetime="2015">2015</time></span>
          <ul>
            <li>Code Camp NYC</li>
          </ul>
        </ul>
      </div>
      <div class="conf_right">
        <ul class="caret">
          <span><time datetime="2014">2014</time></span>
          <ul>
            <li>Code Camp NYC</li>
          </ul>
          <span><time datetime="2013">2013</time></span>
          <ul>
            <li>Code Camp NYC</li>
            <li>
              <a href="https://www.red-gate.com/hub/events/sqlinthecity/index" target="_blank">Red Gate SQL in the City</a>
            </li>
          </ul>
          <span><time datetime="2012">2012</time></span>
          <ul>
            <li>Code Camp NYC</li>
          </ul>
          <span><time datetime="2011">2011</time></span>
          <ul>
            <li>Code Camp NYC</li>
          </ul>
        </ul>
      </div>
    </div>
  </section>

  <hr style="padding-top: -20px" />

  <section>
    <h3 class="text-center">Meet-Up Groups</h3>
    <p class="text-center"><em>(View the meet-ups that I attend!)</em></p>
    <div class="meetups">
      <ul class="caret">
        <li><a href="https://www.angularnyc.com" target="_blank">Angular NYC</a></li>
        <li><a href="https://www.meetup.com/ReactNYC" target="_blank">React NYC</a></li>
        <li><a href="https://www.meetup.com/NYC-NET-Developers" target="_blank">NYC .NET Developers Group</a></li>
        <li><a href="https://www.meetup.com/nyaltnet" target="_blank">New York ALT.NET Software Development Group</a></li>
        <li><a href="https://www.meetup.com/new-york-php/">New York PHP Meetup Group</a></li>
      </ul>
    </div>
  </section>
</div>
