<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <app-portfolio-navbar></app-portfolio-navbar>
      <app-portfolio-about></app-portfolio-about>
      <app-portfolio-gallery></app-portfolio-gallery>
      <app-portfolio-services></app-portfolio-services>
      <app-portfolio-testimonials></app-portfolio-testimonials>
      <app-portfolio-contact></app-portfolio-contact>
      <app-portfolio-footer></app-portfolio-footer>
    </div>
  </div>
</div>

<ng-back-to-top bgColor="#016f86" color="#fff"></ng-back-to-top>
