@import '../../node_modules/sal.js/dist/sal.css';

.container-fluid {
  margin: 0px !important;
  padding: 0px !important;
  margin-bottom: -40px !important;
  padding-bottom: -40px !important;
  overflow: hidden;
}

.fa {
  padding: 12px 14px 14px;
  background-color: #016f86;
  color: #fff;
  font-size: 18px;
  line-height: 10px;
  cursor: pointer;
}

.fixed-back-to-top-btn-container {
   position: fixed;
   right: 0;
   bottom: 2rem;
   padding: 20px;
   cursor: pointer;
}

.ng-back-to-top {
  content: "\f077";
  font-family: 'Fontawesome';
  background-color: #016f86;
  color: #fff;
}

.back-to-top-color {
  color: #fff;
}

.fallback-btn {
  content: "\f077";
  font-family: 'Fontawesome';
  background-color: #016f86;
  color: #fff;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #about.container-fluid { width: 570px; }
  #about > #overview > article { margin-left: 0px; }
  #about > #overview > article > img { width: 200px; }
}
