<app-portfolio-navbar></app-portfolio-navbar>
<app-portfolio-hero></app-portfolio-hero>
<app-portfolio-about></app-portfolio-about>
<app-portfolio-services></app-portfolio-services>
<app-portfolio-gallery></app-portfolio-gallery>
<app-portfolio-contact></app-portfolio-contact>
<app-portfolio-footer></app-portfolio-footer>

<div class="scroll-to-top" [ngClass]="{'show-scroll': navIsFixed}">
  <button (click)="scrollToTop()" title="Scroll to top">
    <span class="fa fa-chevron-up"></span>
  </button>
</div>
