<section id="services" class="services" data-magellan-target="services">
  <h2 class="mat-h2 heading">Services I Offer</h2>

  <h3>Services I Offer</h3>
  <div class="my-services">
    <section class="servicesSection">
      <span class="far fa-id-card fa-5x" alt="User Interface/User Experience"></span>
      <h4>UI/UX</h4>
      <p>I architect and deliver visually engaging and meaningful user interfaces and experiences that align with your company&apos;s intended goals. As part of the process, I assess potential user behaviors and how users interact with your website or web application.</p>
    </section>
    <section class="servicesSection">
      <span class="fas fa-desktop fa-5x" alt="Web Development"></span>
      <h4>Web/App Development</h4>
      <p>I will design and develop your website/application from the ground up, using the latest frameworks and by applying the principles of responsive web design, I will ensure consistent look and feel across different devices and browsers.</p>
    </section>
    <section class="servicesSection">
      <span class="fas fa-mobile-alt fa-5x" alt="Mobile Development"></span>
      <h4>Mobile Development</h4>
      <p>Mobile apps are the future and are here to stay. I build hybrid mobile applications for iOS and Android using the Ionic framework, leveraging the latest front-end web technologies.</p>
    </section>
  </div>
  <br clear="all" />
  <hr style="border: 2px solid darkgreen; width: 700px; margin-left: 10%" />
  <div>
    <h3>Testimonials</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet rutrum massa sit amet vestibulum.</p>
  </div>
  <div class="text-center">
    <p>For more information about my services, please <a href="#contact">contact me</a>.</p>
  </div>
</section>
