<section id="services" class="services container-fluid">
  <h2 class="servicesHeader heading" data-sal-duration="400" data-sal="slide-up" data-sal-delay="200">Services</h2>

    <div class="my-services animated fadeInLeft">
      <div class="row flex-container-alignment">
        <div class="flex-container col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
             data-sal-duration="400" data-sal="zoom-out" data-sal-delay="400">
          <ul>
            <li *ngFor="let service of services" data-sal-duration="service.duration"
                data-sal="service.animation" data-sal-delay="service.delay"
                class="flex-item col fluid col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <span>
                  <img src={{service.image}} alt={{service.name}}>
                </span>
                <div>
                  <h4>{{service.name}}</h4>
                  <p>{{service.description}}</p>
                </div>
            </li>
          </ul>
        </div>
      </div>

      <br clear="all" /><br clear="all" />

      <section class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 animated fadeInLeft">
        <div class="row otherServices ngsReveal">
          <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <span class="specialization-statement lead col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12">
              I am capable of completing any custom web project from the ground up.<br />
              I am results-driven and will meet and exceed your expectations.</span><br /><br />
            <h4 class="text-center">If you have any questions or are interested in working with me, please
              <a href="#contact">contact</a> me below.</h4>
          </div>
        </div>
      </section>
    </div>
</section>
