.services {
  background-color: #20B2AA;
  height: auto;
}

.flex-container-alignment {
  margin-left: 5px;
}

.flex-container {
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  max-width: 1200px;
  height: auto;
  text-align: center;
  margin-left: -35px;
  margin-top: -25px;
}

.flex-container > * {
  flex: 1 100%;
}

.col {
  padding: 20px;
}

.my-services {
  margin-left: 20px;
}

.my-services > .fluid {
  flex: 1 100%;
}

.my-services > .row .flex-item {
  display: inline-block;
  flex: 0 1 auto;
  width: 280px;
  height: auto;
  margin: 0px;
  float: left;
}

.my-services > .row span {
  background-color: #fff;
  width: 112px;
  height: 112px;
  display: inline-block;
  border-radius: 50%;
  color: #1d809f;
  line-height: 120px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.my-services > .row span img {
  margin-top: -5px;
  contain: none;
  text-align: center;
}
.my-services > .row ul li div {
  margin-left: 60px;
}

ul {
  list-style-type: none;
}
ul li {
  list-style-type: none;
  padding-right: 15px;
}

li span {
  margin-left: -10px;
}

li:hover {
  background-color: #00bfff;
  border: 2px solid green;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  -webkit-box-shadow: 5px 5px 15px 5px #34FF83;
  box-shadow: 5px 5px 15px 5px #34FF83;
  width: 320px;
  height: 500px;
}

.my-services > .row h4 {
  font-family: inherit;
  font-weight: 800;
  line-height: 1.2;
  font-size: 24px;
  color: #000;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 300px;
  text-align: center;
  margin-left: -90px;
  text-shadow: 2px 2px 2px #1C6EA4;
}

.my-services > .row p {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  width: 250px;
  margin-left: -70px;
}

.otherServices > p {
  margin-left: 80px;
}

h4 > a {
  color: rgb(2, 117, 184) !important;
  font-weight: 700;
}

.otherServiceType {
  font-weight: bold;
}
.specialization-statement {
  margin-left: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 28px;
  color: #4B3621;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .flex-container {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    margin-left: 25px;
  }
  .otherServices > p {
    left: 0;
    width: 10em !important;
    text-align: left;
    margin-left: -800px !important;
    display: block;
  }
  .otherServices > button {
    left: 0;
    text-align: left;
    margin-left: -450px;
    padding-top: 15px;
  }
}


/* media queries that change logo size depending on screen size */
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .form-services ul {
    margin-left: 20%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .flex-container {
    justify-content: space-around;
    margin-left: -15px;
  }
  .otherServices {
    margin-left: -60px;
  }
}


@media (min-width: 481px) and (max-width: 575px) {
  .flex-container {
    justify-content: space-around;
    margin-left: 10px;
  }
  .otherServices {
    margin-left: -10px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .flex-container {
    justify-content: space-around;
    margin-left: 40px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .flex-container {
    justify-content: space-around;
    margin-left: 120px;
  }
  .otherServices {
    margin-top: -60px;
  }
}
