<div id="tech-summary">
  <div class="container">
    <div class="row">
      <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
        <h2>Technical Summary</h2>
        <div class="frontend">
          <h3 class="text-center">Front-End Web Development</h3>
          <ul>
            <li>
              <figure>
                <img src="../../../assets/images/tech/frontend/HTML5.png">
                <figcaption class="caption">HTML5</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/frontend/CSS3.png">
                <figcaption class="caption">CSS3</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/frontend/JavaScript.png">
                <figcaption class="caption">JavaScript</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/frontend/jquery.png">
                <figcaption class="caption">jQuery</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/frontend/Bootstrap.jpg">
                <figcaption class="caption">Bootstrap</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/frontend/foundation.png">
                <figcaption class="caption">Foundation</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/frontend/Sass.png">
                <figcaption class="caption">SASS</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/frontend/typescript.png">
                <figcaption class="caption">TypeScript</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/frontend/Angular.png">
                <figcaption class="caption">Angular</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/frontend/React.png">
                <figcaption class="caption">React</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/frontend/Knockout.png">
                <figcaption class="caption">Knockout</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/frontend/ionic.png">
                <figcaption class="caption">Ionic</figcaption>
              </figure>
            </li>
          </ul>
        </div>

        <div class="backend">
          <h3 class="text-center">Back-End Web Development</h3>
          <ul class="text-center">
            <li>
              <figure>
                <img src="../../../assets/images/tech/backend/DotNetCore.png">
                <figcaption class="caption">.NET Core</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/backend/nodejs.png">
                <figcaption class="caption">NodeJS</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/backend/php_mysql.png">
                <figcaption class="caption">PHP &amp; MySQL</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/backend/java.png">
                <figcaption class="caption">Java</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/backend/mongodb.png">
                <figcaption class="caption">MongoDB</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/backend/firebase.png">
                <figcaption class="caption">Firebase</figcaption>
              </figure>
            </li>
          </ul>
        </div>

        <div class="ux-design">
          <h3 class="text-center">UI/UX and Graphic Design</h3>
          <ul class="text-center">
            <li>
              <figure>
                <img src="../../../assets/images/tech/uxd/photoshop.png">
                <figcaption class="caption">PhotoShop</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/uxd/illustrator.png">
                <figcaption class="caption">Illustrator</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/uxd/fireworks.png">
                <figcaption class="caption">Fireworks</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/uxd/Visio.png">
                <figcaption class="caption">MS Visio</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/uxd/morae.png">
                <figcaption class="caption">Morae</figcaption>
              </figure>
            </li>
          </ul>
        </div>

        <div class="tools">
          <h3 class="text-center">Tools I Use</h3>
          <ul class="text-center">
            <li>
              <figure>
                <img src="../../../assets/images/tech/tools/vscode.png">
                <figcaption class="caption">VSCode</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/tools/WebStorm.png">
                <figcaption class="caption">WebStorm</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/tools/IntelliJ.jpg">
                <figcaption class="caption">IntelliJ</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/tools/git.png">
                <figcaption class="caption">Git</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/tools/gulp.png">
                <figcaption class="caption">Gulp</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="../../../assets/images/tech/tools/grunt.png">
                <figcaption class="caption">Grunt</figcaption>
              </figure>
            </li>
          </ul>
        </div>

        <!--<div class="resumeButton">
          <button class="btn btn-lg btn-outline-primary hvr-rectangle-out" (click)="open(resumeContent)">
            <span class="downloadText">
              <span class="fas fa-download" aria-hidden="true"></span>&nbsp;&nbsp;
              <strong>Download my r&eacute;sum&eacute; here</strong></span>
          </button>
        </div>-->
      </div>
    </div>
  </div>
</div>
