#tech-summary {
  margin-top: -15px;
}

h2 {
  padding-bottom: 20px;
  margin-left: 32%;
}

div + div {
  margin-top: 30px;
}

div.frontend {
  margin-top: 0;
}

.frontend, .backend, .ux-design, .tools {
  height: 380px;
  width: 750px;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  background: #fff0f5 !important;
  box-shadow: -4px -6px 8px 2px rgba(0,0,0,.5),
    8px 6px 12px rgba(0,0,0,0.5);
}

.backend, .ux-design, .tools {
  height: 215px;
}

.frontend > h3, .backend > h3, .ux-design > h3, .tools > h3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.frontend > ul li, .backend > ul li, .ux-design > ul li, .tools > ul li {
  list-style-type: none;
  display: inline-block;
  padding-right: 15px;
  padding-bottom: 20px;
  text-align: center;
}

.frontend > ul li > figure > img, .backend > ul li > figure > img, .ux-design > ul li > figure > img, .tools > ul li > figure > img {
  height: 100px;
  width: 100px;
}

.caption {
  display: block;
  color: #4B3621;
  font-weight: 600;
  padding-top: 5px;
}

.resumeButton {
  margin-left: 28%;
  padding-top: 20px;
  padding-bottom: 15px;
}
