<section id="blog" class="blog container-fluid col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <h2 class="heading" data-sal-duration="400" data-sal="slide-up" data-sal-delay="200">Blog</h2>
  <ul>
    <li>
      <time class="date">29 Jan. 2019</time>
      <span class="title">
        <a href="http://www.marvinrusinek.com/blog/2019/01/29/JSON-and-Data-Binding/" target="_blank">JSON and Two-Way
          Data-Binding</a>
      </span>
    </li>
    <li>
      <time class="date">26 Jan. 2019</time>
      <span class="title">
        <a href="http://www.marvinrusinek.com/blog/2019/01/26/Angular-Universal/" target="_blank">Benefits of using
          Angular Universal in your Angular project</a>
      </span>
    </li>
    <li>
      <time class="date">26 Jan. 2019</time>
      <span class="title">
        <a href="http://www.marvinrusinek.com/blog/2019/01/26/EmailJS/" target="_blank">How to use EmailJS in your
          Angular reactive form</a>
      </span>
    </li>
  </ul>
</section>
