<section id="testimonials" class="testimonials container-fluid">
  <h2 class="servicesHeader heading" data-sal-duration="400" data-sal="slide-up" data-sal-delay="200">Testimonials</h2>

  <div class="mytestimonials col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 animated fadeInLeft">
    <div *ngFor="let testimonial of testimonials">
      <blockquote>
        <p class="quote col-12">{{testimonial.quote}}</p>
      </blockquote>
      <cite class="author">{{testimonial.author}}, {{testimonial.authorRole}}, <time>{{testimonial.time}}</time></cite>
    </div>
  </div>
</section>
