<ul *ngFor="let project of projects" class="list-unstyled">
  <li>
    <mat-card class="portfolioProject {{project.categoryClass}} col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <mat-card-content>
        <ng-container>
          <figure>
            <div style="margin-top: 10px;">
              <img class="portfolio-gallery" src={{project.imagePath}} alt={{project.imageTitle}} lazy-load-images>
            </div>
            <figcaption>
              <mat-card-title class="text-center">
                <a href={{project.projectUrl}}>
                  <h4>{{project.title}}</h4>
                </a>
              </mat-card-title>
            </figcaption>
          </figure>
          <div class="projectButtons">
            <button type="button" class="white button projectButton" (click)="open(projectContent)" data-toggle="modal"
                    data-target="projectModal" *ngIf="project.projectUrl !== 'NONE'">&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="projectBtn">&nbsp;&nbsp;&nbsp;<strong>View Project</strong></span>
            </button>

            <span *ngIf="project.codeUrl !== 'NONE'">
              <a href={{project.codeUrl}} target="_blank">
                <button type="button" class="white button codeButton">&nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="codeBtn">&nbsp;&nbsp;&nbsp;<strong>View Code</strong></span>
                </button>
              </a>
            </span>
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </li>

  <!-- Project Modal -->
  <ng-template #projectContent let-c="close" let-d="dismiss" id="projectModal" class="project-modal"
               data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="project-modal" aria-hidden="true">
    <div class="row project-modal-dialog justify-content-center w-100" role="document">
      <div class="modal-lg align-self-center h-100 mx-auto d-flex flex-column animated fadeInLeft" role="document">
        <div class="project-modal-content">
          <div class="modal-header">
              <h4 class="modal-title">{{project.title}}</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" title="Close"
                      style="border: none !important; background:none !important;">
                <span aria-hidden="true" style="font-size: 60px">&times;</span>
              </button>
            </div>
          <div class="modal-body">
              <div style="vertical-align: top">
                <a href={{project.projectUrl}} target="_blank">
                  <img src={{project.imagePath}} class="modal-project-image img-responsive" alt={{project.imageTitle}}>
                </a>
              </div>
              <div class="project-metadata">
                <p class="text-center">
                  &nbsp;&nbsp;&nbsp;&nbsp;<span class="category">{{project.categoryFullNames}}</span><br />
                  &nbsp;&nbsp;&nbsp;&nbsp;<span class="technologies">{{project.technologies}}</span><br />
                  &nbsp;&nbsp;&nbsp;&nbsp;<span class="projectDurationText">
                                            <time class="dateStarted" title={{project.dateStarted}}>
                                              {{project.dateStarted | date: 'longDate'}}
                                            </time>&mdash;
                                            <time class="dateCompleted" title={{project.dateCompleted}}>
                                              {{project.dateCompleted | date: 'longDate'}}
                                            </time>
                                          </span>
                </p>
              </div>
              <div style="margin-left: 10px; word-wrap: normal;">
                <p class="text-justify">&nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="projectDescription">{{project.description}}</span>
                </p>
              </div>
            </div>
          <span class="projectModalViewCode" *ngIf="project.codeUrl !== 'NONE'">
            <a href={{project.codeUrl}} target="_blank">
              <button type="button" class="white button">&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="codeBtn">&nbsp;&nbsp;&nbsp;<strong>View Code</strong></span>
              </button>
            </a>
          </span>
        </div>
      </div>
    </div>
  </ng-template>
</ul>


