ul {
  list-style-type: none;
}

mat-card {
  height: 430px !important;
  width: 740px !important;
  background-color: #EEE;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: -4px -6px 8px 2px rgba(0,0,0,.5),
              8px 6px 12px rgba(0,0,0,0.5);
}

mat-card:hover {
  box-shadow: 5px 2px 10px 5px rgba(39, 230, 216, 0.9);
  -moz-box-shadow: 5px 2px 10px 5px rgba(39, 230, 216, 0.9);
  -webkit-box-shadow: 5px 2px 10px 5px rgba(39, 230, 216, 0.9);
}

mat-card-title > a > h4 {
  text-align: center;
  padding-top: 10px;
}

img.portfolio-gallery {
  position: relative;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  height: 300px !important;
  width: 600px !important;
  padding-top: 10px;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.5);
  object-fit: fill;
}

.projectButtons {
  position: absolute;
  padding-top: 10px;
  top: 85.5%;
  left: 5%;
}

button {
  font-size: 12px;
  font-weight: bold;
  background-color: #90ee90;
  color: rgba(65,197,192,0.91);
  padding: 5px 15px;
  margin-left: 25px;
  font-size: 16px;
  border: 3px solid green;
  border-radius: 5px;
  height: 45px;
}

button:hover {
  background-color: #00FF7F;
}

.projectBtn {
  width: 190px;
}
.codeBtn {
  width: 160px;
}
.projectBtn:before {
  background: url('../../../assets/images/modal/project.png') no-repeat;
}
.codeBtn:before {
  background: url('../../../assets/images/modal/github.png') no-repeat 200% 200%;
}
.category:before {
  background: url('../../../assets/images/modal/magnifying-glass.png') no-repeat;
}
.technologies:before {
  background: url('../../../assets/images/modal/laptop.png') no-repeat;
}
.projectDurationText:before {
  background: url('../../../assets/images/modal/calendar.png') no-repeat;
}
.projectDescription:before {
  background: url('../../../assets/images/modal/description.png') no-repeat;
}

.category:before, .technologies:before, .projectDurationText:before {
  margin-top: 5px;
}

.projectBtn:before, .codeBtn:before {
  content: '';
  background-size: cover;
  position: absolute;
  width: 28px;
  height: 28px;
  margin-left: -25px;
  margin-top: -5px;
}

.category:before, .technologies:before, .projectDurationText:before, .projectDescription:before {
  content: '';
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -25px;
  margin-top: 0px;
}
.technologies:before {
  margin-top: 5px;
}


.category {
  color: #2f4f4f;
}

.technologies, .projectDurationText {
  font-size: 13.5px;
  font-style: italic;
}


.project-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  height: 100%;
  width: 1200px !important;
  max-width: 100% !important;
}

.project-modal > p {
  color: #4B3621;
}

.project-modal-dialog > .modal-header > button {
  border: none !important;
  font-size: 50px !important;
  color: black;
  font-weight: bold;
}
.project-modal-dialog > .modal-header > button.close {
  background: none;
}
.project-modal-dialog > .modal-header > button.close:hover {
  background: none;
  color: darkslategray;
}

.modal-title {
  font-size: 50px !important;
  font-weight: bold;
  margin: 0 auto;
  color: #2098D1;
}

.modal-body {
  width: 100%;
}

.modal-body > img.modal-project-image {
  display: block;
  box-shadow: 2px 2px 4px rgba(0,0,0,.5);
  width: 100% !important;
  height: 60% !important;
  padding-bottom: 20px;
  margin: 0 auto;
}
.modal-body > img.desc_image {
  display: block;
  float: left;
  height: 50px;
  width: 50px;
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-footer > button {
  margin: 0 auto;
}

.white {
  color: white;
}

.projectModalViewCode {
  margin-left: 30%;
  padding-bottom: 0;
  margin-bottom: 0;
  color: white;
}

.project-metadata {
  margin-top: 20px;
}
.project-metadata p {
  line-height: 2;
}
.project-metadata p span {
  font-size: 16px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  mat-card {
    margin-left: -50px;
    height: 400px !important;
  }
  .projectButtons {
    margin-left: -40px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .projectButtons {
    margin-left: 15%;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .projectButtons {
    margin-left: -60px;
  }
}


